.idea
target/
*.iml
!.mvn/wrapper/maven-wrapper.jar



### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/